@media all and (min-width: 480px) {
    
    
    .Login {
      padding: 100px 0;
      background-color:rgb(255, 255, 255);
      width: 30%;
      height: 20%;
      margin: 100px auto;
      border-radius: 20px;
      margin-top: 150px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }